body {
	background-color: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body a:hover{
    text-decoration: none;
}

#social-media-links {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

#social-media-links ul{
    list-style: none;
    padding: 0;
}

#social-media-links ul a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

#social-media-links ul a li{
    display: inline;
    height: 100%;
    list-style-type: none;
    padding: 0;

}

#social-media-links ul a li img{
    width: 32px;
    height: 32px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#social-media-links ul a li img:hover{
    background-color: grey !important;
}


#header {
    position: fixed;
    top: 0;
    z-index: 3;
    padding: 0px;
    width: 100%;
    z-index: 9999;
}

/* #ti-1 {
    border: 1px solid slateblue;
    float: left;
    padding: 1px;
    background-color: blueviolet;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;

}

#ti-2 {
    border: 1px solid darkviolet;
    float: left;
    padding: 1px;
    background-color: darkslateblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}

#ti-3 {
    border: 1px solid dimgray;
    float: left;
    padding: 1px;
    background-color: mediumaquamarine;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}

#ti-4 {
    border: 1px solid turquoise;
    float: left;
    padding: 1px;
    background-color: cyan;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}
 */

#title-image {
    float: left;
    height: 2.5em;
    width: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    display: none;
}

#menu-container {
    position: fixed;
    width: 25%;
    text-align: center;
    margin: 0 37.5%;
}

#menu {
    list-style-type: none;
    padding-left: 0px;
    display: block;
    width: 100%;
    margin: 0 auto;
}

#menu li {
    height: auto;
    margin-left: 0px;
    font-size: 150%;
    line-height: 75%;
    width: 100%;
    padding: 10px;
}

.big_plain_list {
    font-size: 300%;
    list-style: none;
    text-transform:uppercase;
}

.big_plain_list li {
    margin: 2px 20% 2px 20%;
    border-radius: 2px;
    -webkit-border-radius: zpx;
    -moz-border-radius: 2px;
}

.random_background_color {
    padding: 5px;
    text-align: center;
}

.set_random_hover_border_color {
    border: 5px solid white;
}

.set_random_hover_border_color_bottom {
    border: 2px solid white;
    border-top: 0px !important;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.big_plain_list a {
    color: black;
    text-decoration: none;
}



#menu a{
    color: black;
    text-decoration: none;
}

#container{
    float: left;
    margin-bottom: 20px;

}




#content {
    margin: 94px 0 10px;
    float: left;
    padding: 0 10px 10px 10px;
    width: 100%;
}


/*+++++++++++++++++++++++++++++++++++++++++*/
/*Project*/

.project-header {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
    padding: .25em;
    text-transform: uppercase;
    font-size: 175%;
}

.project-link {
    text-align: center;
    font-size: 125%;
    width: 100%;
    margin-bottom: 2.5em;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-radius: 3px;
}

.project-link a{
    color: #585858 ;
}

.project-link a:hover {
    color: #888888;
}








/*+++++++++++++++++++++++++++++++++++++++++*/
/*Gallery Item*/






 .gallery_item {
    position: relative;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
 }


.project_title_link {
    height: 2.5em;
    position: relative;
}

.project_title_link a {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: justify-center;
    width: 100%;
    text-decoration: none;
    color: black;
}

.project_title_link a div {
    position: relative;
    height: 2.5em;
}

.project_title_link a div div {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height:auto;

}

.project_title_link a:hover {
    color: grey;
}

.thumbnail {
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: -1em auto 0;
 }

 img.thumbnail:hover{

    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
 }


#gallery_item_image_container {
    width: 100%;
    height: 100%;
    background-color: black;
    
 }

 .gallery_item_image {
    height:auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 40px;
 }

.wide_image_container{
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 500;
}

.gallery_image {
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
    width: 100%;
    max-width: 900px;
}

img.gallery_image {
}

 .internet {
    border: 3px dashed Gainsboro;
 }

 #clear {
    clear: both;
 }

 #home-container-container{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
 }

 #home-container{
    position: relative;
    text-align: center;
    left: 50%;
 }

 #home-image-container{
    float: left;
 }

 #ti-1-home {
    border: 4px solid slateblue;
    float: left;
    padding: 4px;
    background-color: blueviolet;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;

}

#ti-2-home {
    border: 4px solid darkviolet;
    float: left;
    padding: 4px;
    background-color: darkslateblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}

#ti-3-home {
    border: 4px solid dimgray;
    float: left;
    padding: 4px;
    background-color: mediumaquamarine;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}

#ti-4-home {
    border: 4px solid turquoise;
    float: left;
    padding: 4px;
    background-color: cyan;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}


#title-image-home {
    float: left;
    height: 450px;
    width: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 1;
}

#home-menu-container{
    float: left;
    font-size: 400%;
}

#homepage-menu {
    list-style-type: none;
    z-index: 2;
}

#homepage-menu li{
    float: right;
    text-align: right;
    border: 2px dashed red;
    margin-left: 15px;
}

.home-menu-div{
    width: 100%;
}


#home-home-menu:hover{
    background-color: pink;

}
#home-projects-menu:hover{
    background-color: salmon;

}
#home-admin-menu:hover{
    background-color: lightcoral;

}












 #z-home-container-container{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
 }

 #z-home-container{
    position: relative;
    text-align: center;
    left: 50%;
 }

  #z-home-img{
    float: left;
    z-index: 10;
 }

#z-ti-1 {
    border: 4px solid slateblue;
    padding: 4px;
    background-color: blueviolet;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    z-index: 11;
    position: relative;

}

#z-ti-2 {
    border: 4px solid darkviolet;
    padding: 4px;
    background-color: darkslateblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

}

#z-ti-3 {
    border: 4px solid dimgray;
    padding: 4px;
    background-color: mediumaquamarine;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#z-ti-4 {
    border: 4px solid turquoise;
    padding: 4px;
    background-color: cyan;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}


#z-title-image {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

 #z-home-menu{
    float: left;
 }

 #z-home-menu-con{
    list-style-type: none;
    font-size: 400%;
    text-align: right;
    height: 100%;

 }

 #z-wh{
    position: relative;
    height: 100%;
    border: 1px solid green;
 }

 #z-home-menu-it{
    border: 0px dashed red;
    padding: 0 25px 0 85px;
    position: relative;
    right: 50px;
    z-index: 10;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

