body {
	background-color: none;
}

#header {
    position: fixed;
    top: 0;
    background-color: WhiteSmoke;
    width: 100%;
    height: 12.5em;
    z-index: 9999;
    padding: 0 10px;
}

#ti-1 {
    border: 25px solid slateblue;
    float: left;
    padding: 2px;
    background-color: blueviolet;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;

}

#ti-2 {
    border: 2px solid darkviolet;
    float: left;
    padding: 2px;
    background-color: darkslateblue;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#ti-3 {
    border: 2px solid dimgray;
    float: left;
    padding: 2px;
    background-color: mediumaquamarine;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#ti-4 {
    border: 2px solid turquoise;
    float: left;
    padding: 2px;
    background-color: cyan;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}


#title-image {
    float: left;
    height: 10em;
    width: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#menu {
    margin-top: 2.5em;
    float: left;
}

#menu li{
    display: inline;
}

#container{
    float: left;

}

#content {
    margin-top: 12.5em;
    float: left;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
}


.thumbnail {
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    margin: 0 auto;
 }

 img.thumbnail:hover{

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(https://s3.amazonaws.com/patrickweaver/desaturate.svg#greyscale);
    filter: gray;
    -webkit-filter: grayscale(1);
 }

 .gallery_item {
    float: left;
    width: 250px;
    text-align: center;
    margin: 0 auto;
 }

.wide_image_container{
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 500;
}

.gallery_image {
    margin: 0 auto;
    padding: 0 20px;
    height: 600px;
}

img.gallery_image {
}

 .internet {
    border: 3px dashed Gainsboro;
 }

 #clear {
    clear: both;
 }