{% extends "gallery_base.html" %}

{% block title %}
 - {{ project.name }} - {{ gallery_item.name }}
{% endblock %}

{% block content %}
<h2>
    <a href="{% url 'gallery.views.project' project.slug %}">{{ project.name }}{% if project.year > 0 %}
             - {{ project.year }}
        {% endif %}</a>:
</h2>
<br>
<h3>{{ gallery_item.name }}</h3>
{% if url %}
    <a href="{{ url }}">{{ url }}</a>
{% elif  gallery_item.caption %}
    {{ gallery_item.caption }}
{% endif %}
<br><br>
    {% if gallery_item %}
        <div class="wide_image_container">
            {% if media_type == "Internet" %}
                <a href="{{ url }}" target="blank"><img src="{{ gallery_item.image.url }}" class="internet gallery_image"></a>
            {% else %}
                <a href="{% url 'gallery.views.gallery_item_image' project.slug gallery_item.slug %}"><img src="{{ gallery_item.image.url }}" class="gallery_image"></a>
            {% endif %}
        </div>

    {% endif %}


{% endblock %}