{% extends "gallery_base.html" %}

{% block title %}
 - {{ project.name }} - {{ gallery_item.name }}
{% endblock %}

{% block content %}
<h2>
    <a href="{% url 'gallery.views.project' project.id %}">{{ project.name }}{% if project.year > 0 %}
             - {{ project.year }}
        {% endif %}</a>:
</h2>
<br>
<h3>{{ gallery_item.name }}:</h3>
{% if url %}
    <a href="{{ url }}">{{ url }}</a>
{% elif  gallery_item.caption %}
    {{ gallery_item.caption }}
{% endif %}
<br><br>
    {% if gallery_item %}
        <div class="wide_image_container">
            <a href=
            {% if url %}
                "{{ url }}" target="blank"
            {% else %}
                "{{ gallery_item.image.url }}"
            {% endif %}
            ><img src="{{ gallery_item.image.url }}" class="{% if media_type == "Internet" %}
                    internet
                {% endif %} gallery_image"></a>
        </div>

    {% endif %}


{% endblock %}