{% extends "gallery_base.html" %}

{% block title %}
 - {{ project.name }} - {{ gallery_item.name }}
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'gallery.views.project' project.slug %}" class="strbc">
        <h2 class="project-header static_random_background_color">
            {{ project.name }}
        </h2>
    </a>
    {% if project.url %}
        <div class="strbc">
            <p class="static_random_background_color project-link">
                <a href="{{ project.url }}">
                    {{ project.url_label }}
                </a>.
            </p>
        </div>
    {% else %}
        <p class="project-link"></p>
    {% endif %}
    <h3 class="gallery-item-name">
        {{ gallery_item.name }}
    </h3>
{% if url %}
    <a href="{{ url }}">{{ url }}</a>
{% elif  gallery_item.caption %}
    {{ gallery_item.caption }}
{% endif %}
</div>
<br>
    {% if gallery_item %}
        <div class="wide_image_container">
            {% if media_type == "Internet" %}
                <a href="{{ url }}" target="blank"><img src="{{ gallery_item.image.url }}" class="internet gallery_image"></a>
            {% else %}
                <a href="{% url 'gallery.views.gallery_item_image' project.slug gallery_item.slug %}"><img src="{{ gallery_item.image.url }}" class="gallery_image"></a>
            {% endif %}
        </div>

    {% endif %}


{% endblock %}