{% extends "gallery_base.html" %}

{% block title %}

{% endblock %}

{% block content %}

{% if projects %}
    <ul class="big_plain_list srbc srhbc">
        {% for project in projects %}
            <a href="{% url 'gallery.views.project' project.slug %}">
                <li class="random_background_color random_hover_border_color">
                    {{ project.name }}{% if project.year %} - {{ project.year }}{% endif %}
                </li>
            </a>
        {% endfor %}
    </ul>
{% endif %}
{% if external_links %}
    <ul class="big_plain_list srbc srhbc">
        {% for link in external_links %}
            <a href="{{ link.url }}">
                <li class="random_background_color random_hover_border_color">
                    {{ link.name }}
                </li>
            </a>
        {% endfor %}
    </ul>
{% endif %}



{% endblock %}