{% extends "gallery_base.html" %}

{% block title %}
 - Projects
{% endblock %}

{% block content %}

{% if projects %}
    <ul class="big_plain_list srbc srhbc">
        {% for project in projects %}
            <a href="{% url 'gallery.views.project' project.id %}">
                <li class="random_background_color random_hover_border_color">
                    {{ project.name }}{% if project.year %} - {{ project.year }}{% endif %}
                </li>
            </a>
        {% endfor %}
    </ul>
<div id="append"></div>
{% endif %}



{% endblock %}