{% extends "gallery_base.html" %}

{% block title %}
 - {{ project.name }}
{% endblock %}

{% block content %}
<div class="strbc">
    <h2 class="project-header static_random_background_color">
        {{ project.name }}
    </h2>
    {% if project.url %}
        <p class="static_random_background_color project-link">
            <a href="{{ project.url }}">{{ project.url_label }}</a>.
        </p>
    {% else %}
        <p class="project-link"></p>
    {% endif %}
</div>
<p>{{ project.caption }}</p>
    {% if gallery_items %}
        {% for item in gallery_items %}
            <div class="gallery_item">
                <div class="project_title_link">
                    <a href="{% url 'gallery.views.gallery_item' project.slug item.slug %}">
                        <div>
                        <div>
                            {{ item.name }}
                        </div>
                        </div>
                    </a>
                </div>
                <br>
                    <span>

                    </span>
                    {% if item.image %}
                        <a href="{% url 'gallery.views.gallery_item' project.slug item.slug %}" class="thumbnail_link">
                            <img src="
                                {% if item.thumbnail %}
                                    {{ item.thumbnail.url }}
                                {% else %}
                                    {{ item.image.url }}
                                {% endif %}
                            " width="200" height="200" class="thumbnail">
                        </a>
                    {% endif %}
                <br><br>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}