<!DOCTYPE html>
<head>

    <title>Patrick Weaver
    {% block title %}
    {% endblock %}
    </title>
    {% load bootstrap3 %}
    {% load staticfiles %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script type='text/javascript' src="{% static "/static/script.js" %}">
    </script>
    <script type='text/javascript' src="{% static "/static/random_color.js" %}">
    </script> 
</head>

<body>
<div id="container">
<div id="header">
    <div id="ti-1">
    <div id="ti-2">
    <div id="ti-3">
    <div id="ti-4">
    <img id="title-image" alt="Patrick Weaver" src="{% static "patrickweavercookie.jpg" %}">
    </div>
    </div>
    </div>
    </div>
    <div id="menu-container">
    <ul id="menu" class="hsrbc">
        {% comment %}
        <a href="{% url 'gallery.views.home' %}"><li class="home-menu hover_random_background_color">
            Home
        </li></a>
        {% endcomment %}
        <a href="{% url 'gallery.views.projects' %}"><li class="projects-menu hover_random_background_color">
            Projects
        </li></a>
        {% comment %}
        <a href="{% url 'admin:index' %}"><li  class="admin-menu hover_random_background_color">
            Admin
        </li></a>
        {% endcomment %}
    </ul>
    </div>
</div>
</div>
<div id="content">
    {% block section %}

    {% endblock %}

</div>
<div id="clear">
</div>
</body>
</html>