{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block section %}
{% load bootstrap3 %}
    {% load staticfiles %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!--<div id="home-container-container">
        <div id="home-container">
            <div id="home-image-container">
                <div id="ti-1-home">
                <div id="ti-2-home">
                <div id="ti-3-home">
                <div id="ti-4-home">
                    <img id="title-image-home" alt="Patrick Weaver" src="{% static "patrickweavercookie.jpg" %}">
                </div>
                </div>
                </div>
                </div>
            </div>
            <div id="home-menu-container">
                <ul id="homepage-menu">
                    <a href="{% url 'gallery.views.home' %}">
                        <li id="home-home-menu">
                        Home
                        </li><br>
                    </a>
                    <a href="{% url 'gallery.views.projects' %}">
                        <div id="home-projects-menu" class="home-menu-div">
                        <li>
                        Projects
                        </li><br>
                        </div>
                    </a>
                    <a href="{% url 'admin:index' %}">
                        <li  id="home-admin-menu">
                        Admin
                        </li><br>
                    </a>
                </ul>
            </div>
        </div>
    </div> -->

    <!--
    <div id="z-home-container-container">
    <div id="z-home-container">
        <div id="z-home-img">
            <div id="z-ti-1">
            <div id="z-ti-2">
            <div id="z-ti-3">
            <div id="z-ti-4">
            <img id="z-title-image" src="{% static "patrickweavercookie.jpg" %}">
            </div>
            </div>
            </div>
            </div>
        </div>
        <div id="z-home-menu">
            <div id="z-home-menu-con">
            <div id="z-wh">
                <a href="{% url 'gallery.views.home' %}">
                    <div class="home-menu" id="z-home-menu-it">
                        Home
                    </div>
                </a>
                <a href="{% url 'gallery.views.projects' %}">
                    <div class="projects-menu" id="z-home-menu-it">
                        Projects
                    </div>
                </a>
                <a href="{% url 'admin:index' %}">
                    <div class="admin-menu" id="z-home-menu-it">
                        Admin
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div> -->
    </div>


{% endblock %}